@import "./parameters";

// Styles
.floor {
  display: grid;
  grid-template-columns: repeat(3, $case-size / 3);
  grid-template-rows: repeat(3, $case-size / 3);

  div {
    position: relative;

    img {
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
    }
  }
}