@import "assets/theme";

// Utils
$drawer-width: 320px;
$drawer-reduced-width: spacing(7) + 1;

// Style
.content, .drawer {
  max-height: calc(100vh - #{spacing(8)});
  margin-top: #{spacing(8)};
}

.drawer {
  width: $drawer-width;
  flex-shrink: 0;

  white-space: nowrap;

  transition: width ease $transition-duration;

  &.close {
    width: $drawer-reduced-width;
    overflow-x: hidden;
  }
}

.content {
  flex: 1;
  overflow: auto;

  margin-left: $drawer-reduced-width;
}

@media (max-width: 600px) {
  .content, .drawer {
    max-height: calc(100vh - #{spacing(7)});
    margin-top: #{spacing(7)};
  }
}
