@import "assets/theme";
@import "assets/spacing";

// Style
.panel {
  display: flex;
  flex-direction: column;

  padding: spacing(1) spacing(2);

  @include column-spacing(spacing(1));

  .buttons {
    display: flex;

    @include row-spacing(spacing(2));

    .step {
      flex: 1
    }

    .play {
      flex: 2
    }
  }
}
