@import "assets/theme";
@import "assets/spacing";

@import "./Panel.module";

// Style
.panel {
  .data {
    display: flex;
    align-items: center;

    @include row-spacing(spacing(1));

    > p {
      flex: 1 0 min-content;
    }
  }

  .buttons {
    display: flex;

    @include row-spacing(spacing(2));

    .step {
      flex: 1;
    }

    .grp {
      flex: 2;

      .play {
        width: 100%;
      }
    }
  }

  .btnIcon {
    margin-right: spacing(1);
  }
}
