@import "../assets/_theme.scss";

$drawer-width: 240px;
$drawer-reduced-width: spacing(7) + 1;

.root {
  height: 100vh;

  display: flex;

  .appbar {
    z-index: 1500;

    .menuBtn {
      margin-right: 12px;
    }
  }

  .drawer {
    width: $drawer-width;
    flex-shrink: 0;

    margin-top: 64px;

    white-space: nowrap;

    transition: width ease $transition-duration;

    &.close {
      width: $drawer-reduced-width;
      overflow-x: hidden;
    }
  }

  .content {
    flex: 1;

    margin-top: 64px;
    margin-left: $drawer-reduced-width;
  }
}
