@import "assets/theme";

// Styles
.case {
  position: relative;

  .target {
    position: absolute;
    top: 0; left: 0;

    margin: 16px;
  }

  .svg {
    position: absolute;
    top: -52px; left: -52px;
    z-index: 1;

    pointer-events: none;

    .track {
      stroke: #3F51B5;
      stroke-width: 6px;
    }

    .dstar {
      stroke: #FFEB3B;
      stroke-width: 2px;
    }
  }

  .data {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    .coords, .cost, .height, .slope {
      position: absolute;

      color: #333333;
      font-size: 1em;
    }

    .coords {
      top: spacing(1);
      left: spacing(1);
    }

    .cost {
      top: spacing(1);
      right: spacing(1);
    }

    .height {
      left: spacing(1);
      bottom: spacing(1);
    }

    .slope {
      right: spacing(1);
      bottom: spacing(1);
    }
  }
}
