@import "assets/theme";

.container {
  position: relative;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .loader {
    margin-bottom: spacing(2);
  }

  .grid {
    position: relative;
    height: max-content;
    width: max-content;

    display: grid;

    transition: transform ease $transition-duration * 2;

    &.moved {
      transition: top ease $transition-duration * 2,
        left ease $transition-duration * 2,
        transform ease $transition-duration * 2;
    }

    > div {
      height: 96px;
      width: 96px;
    }
  }
}
