.container {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  .grid {
    height: max-content;
    width: max-content;

    display: grid;

    margin: -32px;
  }
}