.container {
  position: relative;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  .grid {
    height: max-content;
    width: max-content;

    display: grid;

    margin: -32px;
  }

  > button {
    position: absolute;

    &.up {
      top: 16px;
    }

    &.right {
      right: 16px;
    }

    &.down {
      bottom: 16px;
    }

    &.left {
      left: 16px;
    }
  }
}
