@import "assets/theme";
@import "assets/spacing";

// Style
.fields {
  display: flex;

  @include row-spacing(spacing(2));

  .field {
    flex: 1;
  }
}

label + .fields {
  margin-top: spacing(2);
}
